<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Dane zawodników</title>
</head>

<body>
<table id="myTable">
    <tr>
        <th onclick="sortTable(0)">Imię</th>
        <th onclick="sortTable(1)">Nazwisko</th>
        <th onclick="sortTable(2)">Data urodzenia</th>
        <th onclick="sortTable(3)">Kategoria</th>
        {% for i in range(max_przejazdy) %}
        <th onclick="sortTable {{ i+5 }}">Przejazd {{ i+1 }}</th>
        {% endfor %}
    </tr>
    {% for zawodnik in zawodnicy %}
    <tr>
        <td>{{ zawodnik[1] }}</td>
        <td>{{ zawodnik[2] }}</td>
        <td>{{ zawodnik[3] }}</td>
        <td>{{ zawodnik[4] }}</td>
        {% for czas in zawodnik[5].split(',') %}
        <td>{{ czas }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>
