<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleRegister.css') }}">
    <title>Rejestracja zawodnika</title>
</head>
<body>
    <form action="/" method="post">
        <label for="imie">Imię:</label><br>
        <input type="text" id="imie" name="imie"><br>
        <label for="nazwisko">Nazwisko:</label><br>
        <input type="text" id="nazwisko" name="nazwisko"><br>
        <label for="dataUrodzenia">Data urodzenia:</label><br>
        <input type="date" id="dataUrodzenia" name="dataUrodzenia"><br>
        <label for="nrTelefonu">Numer telefonu:</label><br>
        <input type="text" id="nrTelefonu" name="nrTelefonu"><br>
        <label for="daneOpiekuna">Dane opiekuna:</label><br>
        <input type="text" id="daneOpiekuna" name="daneOpiekuna"><br>
        <label for="pojazd">Pojazd:</label><br>
        <select id="pojazd" name="pojazd">
            <option value="rower">Rower</option>
            <option value="hulajnoga">Hulajnoga</option>
        </select><br>
        <label for="Kategoria">Kategoria:</label><br>
        <select id="Kategoria" name="Kategoria">
            {% for kategoria in kategorie %}
            <option value="{{ kategoria }}">{{ kategoria }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Zarejestruj">
    </form>
</body>
</html>
